html{
    /* 1 rem = 16px */
    font-size: 62.5%; 
    font-family: 'courier new', Times, serif;
    /* font-family: 'Helvetica', Times, serif; */
    /* font-family: 'Open Sans', sans-serif; */
    box-sizing: content-box;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
:root{
    --btn-color: rgb(255, 51, 0);
    --primary-color: #fa9e1b;
    --white-color: #fff;
    --violet: #c30d59;
    --yellow: #fa9e1b;
    --btn:#bb0b14;
    --text-black: #666;
    --bg-btn: linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
    --bg-section: linear-gradient(to right, #fa9e1b, #8d4fff);
    --bg-btne: linear-gradient(to right,#8d4fff, #fa9e1b, #8d4fff);
}
/*  

    font: 400 50px/0.8 'Great Vibes', Helvetica, sans-serif; 
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);               

    font: 400 100px/1.3 'Berkshire Swash', Helvetica, sans-serif;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);

    <button class="btn">
        <a class="btn__link" href="#/"> Read More</a>
    </button>

    
*/

.btn{
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    display: block;
    border: none;
    z-index: 9;
}
.btn__cover{
    transition: transform linear .2s ;
    background: var(--bg-btn);
    width: 200%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0);
    border-radius: 30px;
    
}
.btn__link{
    min-width: 140px;
    font-size: 1.9rem;
    color: #fff;
    font-family: 'courier new', Times, serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 16px 25px;
    border-radius: 30px;
    position: relative;
    z-index: 1;
    display: block;
    cursor: pointer;
    text-align:center;
}
.btn:hover .btn__link{
    border-radius: 30px;
}

.btn:hover .btn__cover{
    transform: translateX(-130px);
    border-radius: 30px;
}
